<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loginregister.css">
    <title>crear aula</title>
</head>
<body>
    <h1>IUTACLASS</h1>
    <h2>crear aula</h2>
    
    <form action="/asignaraula" method="POST">


        <label for="select-docente">seleciona el docente encargado</label>
        <select name="user_id" id="select-docente">

            <% docentes.forEach(docente => {%>
                <option value="<%=docente.id%>"><%=docente.name%></option>
                <% }); %>
          </select>

          <label for="select-estudiante">seleciona el docente encargado</label>
          <select name="aula_id" id="select-docente">

            <% docentes.forEach(docente => {%>
                <option value="<%=docente.id%>"><%=docente.name%></option>
                <% }); %>
          </select>

        <input type="submit" value="Enviar" class="submit">
    </form>

</body>
</html>