<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/register.css">
    <title>crear aula</title>
</head>
<body>
    <h1>IUTACLASS</h1>
    <h2>crear aula</h2>
    
    <form action="/asignaraula" method="POST">


        <label for="select-docente">seleciona estudiante</label>
        <select name="user_id" id="select-docente">

            <% estudiantes.forEach(estudiante => {%>
                <option value="<%=estudiante.id%>"><%=estudiante.name%></option>
                <% }); %>
          </select>

          <label for="select-estudiante">seleciona aula a asignar</label>
          <select name="aula_id" id="select-docente">

            <% aulas.forEach(aula => {%>
                <option value="<%=aula.id%>"><%=aula.materia%></option>
                <% }); %>
          </select>

        <input type="submit" value="Enviar" class="submit">
    </form>

</body>
</html>