<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/indexClass.css">
    <link rel="stylesheet" href="/css/unidades_cards.css">
    <link rel="stylesheet" href="/css/unidades_cards_calificar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>iutaclass</title>
</head>
<body>
<%- include('partials/header.ejs') %>
    <section class="all-container">
        <article class="aulas">
                <%- include('partials/studentComponent/aulas-cards.ejs') %>
        </article>
        <article class="aula-info">
             <%- include('partials/studentComponent/tabla-calificar.ejs') %>
        </article>
        
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>