<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/loginregister.css">
    <title>crear aula</title>
</head>
<body>
    <h1>IUTACLASS</h1>
    <h2>crear aula</h2>
    
    <form action="/crearaula" method="POST">


        <input type="text" name="user_id" id="" placeholder="introduce user_id">
        <input type="text" name="materia" id="" placeholder="introduce la materia">
        <input type="text" name="seccion" id="" placeholder="introduce la seccion">
        <input type="submit" value="Enviar" class="submit">
    </form>

</body>
</html>