<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docente</title>
</head>
<body>

    <a href="/logout">salir</a>

    <h2>clases que imparto</h2>
    <ul>
        <% userdata.forEach(aula => { %>
         <li><p>materia: <%=aula.materia %></p>  <b>seccion: <%=aula.seccion%></b></li>
        <% }) %>

        
    </ul>
    
</body>
</html>