<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iutaclass</title>
</head>
<body>
    <h1>iutaclass inicio</h1>

    <a href="/logout">salir</a>

    <h2>mis clases</h2>
    <ul>
        
    </ul>


</body>
</html>