<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title><%=headtitle%></title>
</head>
<body>

    <img src="/assets/logo.png" alt="" class="logo">
    <div class="register-container">
        <div class="register-img-container">
            <img src="/assets/loginimg.png" alt="">
        </div>
        <div class="register-form-container">
            <form action="/register" method="POST">

                <h2>Registrar usuario</h2>
                <input  required class="form-control" type="text" name="name" id="" placeholder="introduce tu nombre">
                <label for="">tipo de usuario</label>
                <select required class="form-select" name="tipo_usuario" placeholder="tipo de usuario">
                    <option value="2">Estudiante</option>
                    <option value="1">Docente</option>
                  </select>
                <input required class="form-control" type="email" name="email" id="" placeholder="introduce tu email">
                <input required class="form-control" type="password" name="password" id="" placeholder="introduce tu contraseña">
                <input required class="form-control" type="submit" value="Enviar" class="submit">
                
                <% if (error) { %>
                    <p><%= error %></p>
                  <% } %>
                  <p class="switchLogRes">ir al <a href="/login">login</a> ahora.</p>
            </form>
        </div>
    </div>
    


    <%- include('partials/footer.ejs') %>