<section>
    <div class="unidades-container">
        <% unidades.forEach(unidad=> { %>
            <div class="unidad-card" href="*">
                <p class="unidad-card-title">
                    <%=unidad.titulo %>
                </p>
                <p class="unidad-card-evaluacion">
                    <%if(unidad.tipo_evaluacion == 1) {%>
                        Evaluacion: Prueba
                    <%  }%>
                </p>
                <p class="unidad-card-p">
                    Descripcion: <%=unidad.contenido%>
                </p>
                <form action="/unidades/upload/<%=unidad.id%>" method="POST"  enctype="multipart/form-data">
                    <input type="text" value="descripcion" name="descripcion">
                    <input type="file" name="archivo" id="">
                    <input type="submit" value="enviar">
                </form>
            </div>
            <% }) %>
    </div>
</section>
